# Don't need because we are using openBox window manager - not default LXDE
# @lxpanel --profile LXDE-pi
# @pcmanfm --desktop --profile LXDE-pi
# @pcmanfm --display=:0 --set-wallpaper=/etc/splash.png

# X power settings - prevent screen sleep etc
@xset s off
@xset -dpms
@xset s noblank

# Background
@nitrogen --restore

# Chromeium
@sed -i 's/"exited_cleanly": false/"exited_cleanly": true/' ~pi/.config/chromium/Default/Preferences
@sed -i 's/"exit_type": "Crashed"/"exit_type": "None"/' ~pi/.config/chromium/Default/Preferences

@chromium-browser --user-agent={{ ansible_nodename }} --no-first-run  --disable-popup-blocking --noerrdialogs --disable-session-crashed-bubble --disable-infobars --disable-tab-switcher --disable-pinch --no-touch-pinch --overscroll-history-navigation=0 --disable-translate --kiosk {{ URL }}

